* text=auto
*.cs text eol=crlf

*.asm linguist-language=Assembly
*.c linguist-language=C++
*.cc linguist-language=C++
*.cs linguist-langauge=TorqueScript
*.cpp linguist-language=C++
*.h linguist-language=C++
*.inl linguist-language=C++
